body {
 font-family: 'Roboto', sans-serif;
 margin-top: 2%;
 margin-left: 15%;
 margin-right: 15%;
 background-color: rgb(211, 211, 211);
}

h1 {
  text-align: center;
  font-size: 50px;
}

a {
 color: white;
 text-decoration: none;
}
input {
  height: 45px;
  width: 400px;
  font-size: 27px;
  border: 2px solid  rgb(63, 63, 63);
  color: rgb(80, 80, 80);
  border-radius: 5px;
  padding-left: 1%;
}

button {
  height: 50px;
  width: 200px;
  font-size: 30px;
  border: 2px solid   rgb(63, 63, 63);
  border-radius: 25px;
  background-color: rgb(63, 63, 63);
}
.app {
  display: grid;
  justify-content: center;
}
.main-grid {
  background-color: white;
  padding: 1% 5% 7% 5%;
  width: 500px;
 border-radius: 20px;
}

.validation-grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1em;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: center;
}
.validation-grid h3 {
  margin-top: 1%;
  margin-bottom: 1%
}
